.status {
  margin-top: 16px;
}
.statusValue {
  span {
    font-size: 24px;
    padding: 12px;
    border: 1px solid transparent;
    display: inline-block;
    line-height: normal;
  }
}
.statusForm {
  display: flex;
  align-items: center;

  input {
    font-size: 24px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 12px;
    line-height: normal;
  }
  button {
    background: lightgray;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 5px;
    margin-left: 16px;
  }
}