.form_control {
  position: relative;
  height: 100%;
  width: 100%;
  textarea, input {
    height: 100%;
    width: 100%;
  }
  textarea {
    resize: none;
    padding: 10px;
  }
  span {
    position: absolute;
    bottom: -20px;
    font-size: 16px;
    line-height: normal;
    left: 0;
    opacity: 0;
  }

  &.error {
    input, textarea {
      border: 1px solid red;
    }
    span {
      color: red;
      opacity: 1;
    }
  }
}
