.header {
    background: green;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}
.content {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 60px;
    height: 60px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.loginLink {
    color: #ffffff;
    font-size: 20px;
}