@import './null.css';
@import './variables.scss';

.app-wrapper {
    line-height: 1.5;
    height: 100vh;
    position: relative;
    padding-top: 100px;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
