.app-wrapper {

}
.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.header {
    background: green;
}
.header__content {
    height: 100px;
    display: flex;
    align-items: center;

}
.header__logo {
    width: 60px;
    height: 60px;
}
.header__logo img {
    width: 100%;
    height: 100%;
}

.main {
    margin: 20px 0 0 0;
}
.main__content {
    display: flex;
}
.nav {
    background: yellow;
    flex: 0 0 auto;
    width: 15%;
    padding: 20px;
}
.nav__links_bottom {
    margin-top: 30px;
}
.nav__link {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}
.nav__link a {
    text-decoration: none;
    color: #000000;
}

.content {
    margin-left: 20px;
    width: 85%;
}
.content__img {
    padding-top: 41.47%;
    position: relative;
}
.content__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
.content__info {
    display: flex;
    margin: 20px 0 0 0;
}
.content__info_img {
    width: 150px;
    height: 150px;
    margin: 0 20px 0 0;
}
.content__info_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content__info_name {
    font-size: 26px;
    margin: 0 0 30px;
}

.content__wall {
    margin: 30px 0 0 0;
}
.content__wall_title {
    font-size: 30px;
}
.content__wall_form_wr {
    margin: 20px 0 0 0;
}
.content__wall_textarea {
    resize: none;
    width: 100%;
    height: 80px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.content__wall_btn_wr {
    text-align: right;
    margin: 10px 0 0 0;
}
.content__wall_btn {
    width: 200px;
    height: 40px;
    background: green;
    font-size: 18px;
    font-weight: 700;
    border-radius: 7px;
    color: #ffffff;
}
.content__wall_posts {
    margin: 50px 0 0 0;
}
.content__wall_post {
    display: flex;
    margin: 0 0 30px;
    padding: 20px;
    background: aqua;
    border-radius: 10px;
}
.content__wall_post_author {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px 0 0;
    flex: 0 0 auto;
}
.content__wall_post_author img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}