.nav {
    position: sticky;
    background: yellow;
    width: 220px;
    height: 100%;
    padding: 20px;
    top: 20px;
}
.links_bottom {
    margin-top: 30px;
}
.link {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}
.link a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}
.link.active a {
    color: gray;
    pointer-events: none;
}
.link a:hover {
    color: gray;
}